# Exemplo de configuração de ambiente de produção para Easy Gift Search
OPENAI_API_KEY=sua-chave-openai-aqui
RAPIDAPI_KEY=sua-chave-rapidapi-aqui
ELASTIC_URL=http://localhost:9200
MERCADO_LIVRE_CLIENT_ID=8586754272794737
MERCADO_LIVRE_CLIENT_SECRET=kytLf8idqsOrQ4xvV1PVJkm5oEKeqx7t
MERCADO_LIVRE_REDIRECT_URI=https://easy-gift-search.vercel.app/
# Adicione outras variáveis se necessário
